{% extends 'application.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-10" id="calendar_cont">
				<div id="calendar">
				{% for i in events %}
					{{ i }}
					<li>From {{ i.start_date }} to {{ i.end_date }}</li>
					{% if i.location %}
						<li>At {{ i.location }}</li>
					{% endif %}
				{% endfor %}
				</div>
		</div>
	</div>
</div>
	<form id="form" method="post" action="">{% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Create new Event" />
	</form>



{% endblock %}